@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>

<h3>主页面说明</h3>
<p>   
     <img src="/Content/intro.PNG" alt="help" />
</p>

<h3>上传页面说明</h3>
<p>
     <img src="/Content/upload.PNG" alt="help" />
</p>

<h3>反馈</h3>
<p>
     任何建议或疑问，请垂询
     <a href = "mailto:elevenjohns@gmail.com" alt="email">elevenjohns@gmail.com</a>
</p>

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>